<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.holmes.spring.aop"/>
    <context:annotation-config/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean name="calculator" class="com.holmes.spring.aop.Calculator"/>
    <bean name="operator" class="com.holmes.spring.aop.CalculatorAop"/>

    <bean name="executionTimeLoggingAop" class="com.holmes.spring.aop.ExecutionTimeLoggingAop"/>

    <aop:config>
        <aop:pointcut id="executionTimeLoggingPointcut" expression="execution(public * *(..))"/>
        <aop:advisor advice-ref="executionTimeLoggingAop" pointcut-ref="executionTimeLoggingPointcut"/>
    </aop:config>

    <aop:config>
        <aop:aspect ref="operator">
            <aop:pointcut id="calculatorMethod" expression="execution(* com.holmes.spring.aop.Calculator.*(..))"/>
            <aop:before method="beforeMethod" pointcut-ref="calculatorMethod"/>
            <aop:after-returning method="afterReturning" pointcut-ref="calculatorMethod"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="calculatorMethod"/>
            <aop:after method="afterMethod" pointcut-ref="calculatorMethod"/>
            <aop:around method="aroundMethod" pointcut-ref="calculatorMethod"/>
        </aop:aspect>
    </aop:config>




</beans>