<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.java.summary.activemq.spring"/>

    <bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="tcp://localhost:61616"></property>
                <property name="userName" value="admin"></property>
                <property name="password" value="admin"></property>
            </bean>
        </property>
        <property name="maxConnections" value="2"></property>
        <property name="maximumActiveSessionPerConnection" value="20"></property>
        <property name="idleTimeout" value="1000"></property>
        <property name="expiryTimeout" value="1000"></property>
    </bean>

    <bean id="cachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="targetConnectionFactory" ref="pooledConnectionFactory"></property>
        <property name="sessionCacheSize" value="1"></property>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory"></property>
        <property name="messageConverter">
            <bean class="org.springframework.jms.support.converter.SimpleMessageConverter"></bean>
        </property>
    </bean>

    <bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg name="name" value="queueTest"></constructor-arg>
    </bean>

    <bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg name="name" value="topicTest"></constructor-arg>
    </bean>

    <bean id="messageListener" class="com.java.summary.activemq.spring.p2p.consumer.MessageListenerImpl"/>

    <bean id="messageListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="cachingConnectionFactory"></property>
        <property name="destination" ref="queueDestination"></property>
        <property name="messageListener" ref="messageListener"></property>
        <property name="maxMessagesPerTask" value="10"></property>
        <property name="concurrency" value="2-10"></property>
    </bean>

    <bean id="amqSenderService" class="com.java.summary.activemq.spring.p2p.provider.AmqSenderService"/>
</beans>